@import "bootstrap-scss/bootstrap";

$break-small: 768px;

// custom css
@mixin bubble-message($background, $align, $color) {
  padding: 5px;
  margin-bottom: 10px;
  color: $color;
  text-align: $align;
  background-color: $background;
}

body {
  background: url(/imgs/the-guardian.png) no-repeat center top;
  height: 7323px;
  margin: 0 auto;
  position: relative;
  width: 1280px;
}

.chat {
  position: fixed;
  bottom: 25px;
  right: 100px;

  @media screen and (min-width: $break-small) {
    max-width: 360px;
  }

  @media screen and (max-width: $break-small) {
    bottom: 100px;
    top:0;
    right: 0;
    left:0;
  }

  .header {
    padding: 10px 25px;
  }

  .body {
    height: 100%;
    padding: 5px 25px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;

    @media screen and (max-width: $break-small) {
      min-height: 0;
      max-height: 100%;
    }

    .bubble-message-host {
      @include bubble-message(#fff, left, #000);
    }

    .bubble-message-guest {
      @include bubble-message(#eee, right, #000);
    }
  }

  .footer {}

  span.headline {
    margin-top: 2%;
    margin-bottom: 0.8%;
    display: block;
  }
  span.company-position {

    color: rgba(0,0,0,.6);
    font-weight: 300;
    font-size: 0.9em;

    @media screen and (max-width: $break-small) {
      font-size: 0.7em;
    }
  }
}
.bubble-pop-container {
  position: fixed;
  z-index: 10;
  right: 15px;
  bottom: 20px;
}

.bubble-pop {
  width: 75px;
  height: 75px;
  float: right;
  background-image: url('/imgs/chino.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 9px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  cursor: pointer;
  display: block;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d32c46;
  }
}

.bubble-pop-message {
  float:left;
  position: relative;
  margin-top: 30px;
  margin-right: 15px;
  padding: 5px;
  max-width: 250px;

  span {  // big message solution
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}